/**
 * @name DarkVibez
 * @author ShadowPlayzzYT#7841
 * @authorLink https://twitter.com/genappleuser
 * @version 0.15
 * @description A very dark theme for Discord which makes everything look more modern and cozy. Do not use with Light Mode! 
 * @source https://github.com/ShadowPlayzzYT/DarkVibez
*/

:root {
    /* Config */
    --background-1: #0d0d0d; /* Background used for sidebar-like things */
    --background-2: linear-gradient(to top right, #161616, #252525); /* Background used for chats, friend list etc. */
    --background-3: rgb(37, 37, 37); /* Background used for things like the search bar and the second area of a vcs usercount */
    --bg-usercount: rgb(59, 59, 59); /* Background used for the first part of a vcs usercount */
    --bg-typebox: #282828; /* Background used for the type box below the chat */
    --bg-card: #00000046; /* Background used for the cards in the Active now area */
    --bg-hover: #55555546; /* Background used for some small buttons in hover mode */
    --topleft-border-radius: 12px !important; /* Border-Radius, used in the top-left of every page */
    --attachment-bg-file: linear-gradient(90deg, rgb(0, 71, 179) 0%, rgb(27, 27, 27) 55%, rgb(27, 27, 27) 100%); /* The background of a file attachment */
    --attachment-bg-code: rgb(0, 0, 0); /* The background of a code/text attachment */
    --attachment-radius: 12px; /* Border-Radius for the attachments */
    --color-scheme: #5865f2; /* Color scheme used for some buttons and other things | Standard: #5865f2*/
    --font-display: var(--font-primary); /* Replace main Font | Standard: var(--font-primary) */
    --btn-hovered: #30303099; /* Background used for most buttons in hover mode */
    --btn-selected: #3e3e3e99; /* Background used for most buttons in selected mode */

    /* Don't touch */
    --background-tertiary: var(--background-3);
    --background-primary: var(--btn-selected);
    --background-secondary: var(--background-1);
}

/* Don't touch! These are fixes for some buggy objects */
.form-3gdLxP:before{ content:unset; }
.children-3xh0VB:after{ content:unset; }

/*Call Area*/

.root-22AK9z {
  background: linear-gradient(to bottom, #000000, #212121);
  border-radius: 12px;
}

.wrapper-1gVUIN.minimum-fXpVNc {
    background-color: transparent;
}

.colorable-3rVGna.primaryDark-2UJt1G {
    background: linear-gradient(to top, #3c3c3c, #212121);
}

.colorable-3rVGna:hover.primaryDark-2UJt1G:hover {
    background: linear-gradient(to top, #535353, #212121);
}

.colorable-3rVGna.red-3T8maV {
    background: linear-gradient(to top, #8d0000, #460000);
}

.colorable-3rVGna.red-3T8maV:hover {
    background: linear-gradient(to top, #d40c0c, #660000);
}

.status-1ZXjSF {
    background: linear-gradient(to top right, #808080, #000000);
}

/*Screenshare Overlay*/

.root-g14mjS {
    background: linear-gradient(to bottom, #2e2e2e, #000000);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.footer-31IekZ {
    background: #212121;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ:disabled {
    background: rgb(20, 20, 20);
    border-radius: 10px;
}

.lookFilled-yCfaCM.colorPrimary-2AuQVo {
    background: linear-gradient(to bottom, #525252, #383838);
    border-radius: 10px;
    transition: ease-in-out 1s;
}

.lookFilled-yCfaCM.colorPrimary-2AuQVo:hover {
    background: linear-gradient(to bottom, #8f8f8f, #383838);
    border-radius: 10px;
    transition: ease-in-out 1s;
}

.lookFilled-yCfaCM {
    border-radius: 10px;
}

.selectorButton-3fWZ0_:active {
    background: transparent;
} 

.card-m7VgZ8 {
    border-radius: 14px;
}

/*Other*/

.panels-3wFtMD {
    background: transparent;
}

.form-3gdLxP {
    margin-top: 0px;
}

.channelTextArea-1FufC0 {
    margin-bottom: 5px;
}

/*Music-Stuff*/

.assetsLargeImageStreamPreview-3peV91, .assetsLargeImageUserPopout-pY2WJv, .assetsLargeImageUserPopoutXbox-tkbJgJ {
    border-radius: 8px;
}

/*UserPopouts*/
.userPopout-2j1gM4 {
    background: var(--background-secondary);
    box-shadow: unset !important;
    margin-right: 20px;
    border-radius: 15px;
  }
  .userPopout-2j1gM4 .banner-1YaD3N {
    position: absolute;
    width: 300px;
    height: 180px;
    border-radius: 15px 15px 0 0;
    -webkit-mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(24, 29, 51, 1) 100%);
  }
  .userPopout-2j1gM4 .banner-1YaD3N.bannerPremium-kkSkPv {
    background-color: transparent !important;
  }
  .userPopout-2j1gM4 .headerTop-3GPUSF {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    padding-top: 110px;
    padding-bottom: 20px;
  }
  
  .headerTagNoNickname-3tGHj6 {
      margin-top: 25px;
  }

  .userPopout-2j1gM4 .headerTop-3GPUSF .headerTagWithNickname-1U8zZH,
  .userPopout-2j1gM4 .headerTop-3GPUSF .setIdentityLink-hOFsMl {
    display: none;
  }
  .userPopout-2j1gM4 .headerTop-3GPUSF .headerTagDiscriminatorNoNickname-dfcvHa {
    color: #dadada;
  }
  .userPopout-2j1gM4 .headerTop-3GPUSF .profileBadges-2pItdR {
    position: static;
    justify-content: center;
    max-width: unset;
  }
  .userPopout-2j1gM4 .headerTop-3GPUSF .profileBadges-2pItdR > * {
    margin: 0 3px;
  }
  .userPopout-2j1gM4 .headerTop-3GPUSF .profileBadges-2pItdR:empty {
    margin-bottom: 20px;
  }
  .userPopout-2j1gM4 .headerTop-3GPUSF .headerText-1-WmDq {
    margin-bottom: 8px;
  }
  .userPopout-2j1gM4 .customStatus-3XAoF9,
  .userPopout-2j1gM4 .aboutMeSection-PUghFQ {
    padding-top: 10px;
  }
  .userPopout-2j1gM4 .divider-1wtgZ3 {
    display: none;
  }
  .userPopout-2j1gM4 .body-2wLx-E .activity-1gTu-L .button-f2h6uQ {
    background-color: #419e85;
  }
  .userPopout-2j1gM4 .body-2wLx-E .activity-1gTu-L .spotifyIcon-2J9kSv {
    display: none;
  }
  .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k {
    padding-right: 16px;
  }
  .userPopout-2j1gM4 .body-2wLx-E::-webkit-scrollbar {
    display: none;
  }
  .userPopout-2j1gM4 .avatarWrapper-eenWra {
    top: 0;
    left: 50%;
    grid-area: avatar;
    margin: 15px 0 0 -50px;
  }
  .userPopout-2j1gM4 .avatarWrapper-eenWra .avatar-2Vndt_ {
    background: none;
    border: none;
  }
  .userPopout-2j1gM4 .avatarWrapper-eenWra .avatarHint-k7pYop {
    display: none;
  }
  .userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB > :first-child {
    flex: 2 auto;
  }
  .userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .banner-hcPdsd {
    position: absolute;
    height: 180px;
    -webkit-mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(24, 29, 51, 1) 100%);
  }
  .userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .avatarUploader-2UF9NL {
    top: 15px;
    left: 50%;
    margin-left: -40px;
  }
  .userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .avatarUploader-2UF9NL .avatarUploaderInner-Oiob_P {
    border: none;
    border-radius: 50%;
  }
  .userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .avatarUploader-2UF9NL .avatarUploaderInner-Oiob_P .avatarUploaderIndicator-2G-aIZ {
    display: none;
  }
  .userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .headerTop-3GPUSF {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    padding-top: 110px;
    padding-bottom: 20px;
  }
  .userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .headerTop-3GPUSF .headerTagWithNickname-1U8zZH, .userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .headerTop-3GPUSF .setIdentityLink-hOFsMl {
    display: none;
  }
  .userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .headerTop-3GPUSF .headerTagDiscriminatorNoNickname-dfcvHa {
    color: #dadada;
  }
  .userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .headerTop-3GPUSF .profileBadges-2pItdR {
    position: static;
    justify-content: center;
    max-width: unset;
  }
  .userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .headerTop-3GPUSF .profileBadges-2pItdR > * {
    margin: 0 3px;
  }
  .userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .headerTop-3GPUSF .profileBadges-2pItdR:empty {
    margin-bottom: 20px;
  }
  .userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .headerTop-3GPUSF .headerText-1-WmDq {
    margin-bottom: 8px;
  }
  .userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .customStatus-3XAoF9, .userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .aboutMeSection-PUghFQ {
    padding-top: 12px;
  }
  .userProfileCustomizationSection-8Vpo48 .baseLayout-2GkbfB .profileBannerPreview-3_l0Wd .divider-1wtgZ3 {
    display: none;
  }
  .customStatus-3XAoF9 > .customStatusEmoji-1bFQdD.customStatusSoloEmoji-2bSRlG:only-child {
    margin-right: auto;
    margin-left: auto;
  }
  .role-2TIOKu {
    background-color: var(--background-primary);
    border-radius: 4px;
    border: none;
    padding: 0 5px 0 8px;
    height: 25px;
  }
  .role-2TIOKu .actionButton-1YKTU0 {
    background-color: var(--background-primary);
    padding-left: 7px;
    padding-right: 7px;
}
  .role-2TIOKu .roleCircle3xAZ1j {
    margin-right: 6px;
    width: 9px;
    height: 9px;
}

.popoutBanner-3cqRD9::before,
.profileBanner-1owKI5::before {
  content: "";
  position: absolute;
  background: #000 var(--user-background) var(--user-popout-position, center) /cover no-repeat;
  background-attachment: var(--user-background, fixed);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.root-8LYsGj .profileBanner-1owKI5 {
  height: 200px !important;
  max-height: var(--user-background, 120px) !important;
}
.userPopout-2j1gM4[style*="-user-"] .banner-1YaD3N,
.root-8LYsGj[style*="-user-"] .banner-1YaD3N {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: var(--user-popout-position, center) center;
  background-image: var(--user-background);
}

.nickname-t08Mck {
    margin-top: 25px;
}

#app-mount .userPopout-2j1gM4 .popoutBanner-3cqRD9,
#app-mount .menu-1QACrS .popoutBanner-3cqRD9 {
	height: 120px !important;
	max-height: var(--user-background, 60px) !important;
}
#app-mount .root-8LYsGj .profileBanner-1owKI5 {
	height: 240px !important;
	max-height: var(--user-background, 120px) !important;
}
#app-mount .popoutBanner-3cqRD9::before,
#app-mount .profileBanner-1owKI5::before {
	content: "";
	position: absolute;
	background: #000 var(--user-background) var(--user-popout-position, center)/cover no-repeat;
	background-attachment: var(--user-background, fixed);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
#app-mount .userPopout-2j1gM4 .avatarPositionNormal-2jWoC2,
#app-mount .menu-1QACrS .avatarPositionNormal-2jWoC2 {
	top: 76px !important;
	margin-top: var(--user-background, -60px) !important;
}
#app-mount .userPopout-2j1gM4 .headerTop-3GPUSF,
#app-mount .menu-1QACrS .headerTop-3GPUSF {
	padding: 58px 16px 16px;
}
#app-mount .root-8LYsGj .headerTop-1PNKck {
	min-height: 32px;
}

/*Big-ProfileBanner*/

.nameTagNoCustomStatus-3ocqoK {
    font-weight: 600;
    font-size: 23px;
}

/*Appearance*/

.peopleColumn-1wMU14 {
    background: var(--background-2);
    border-top-left-radius: 12px !important;
    border-radius: 0px;
}

.container-ZMc96U.themed-Hp1KC_ {
    background: var(--background-1);
}

.tabBody-2dgbAs {
    background: var(--background-1);
}

.container-1oAagU {
    background: var(--background-2);
}

.scroller-kQBbkU {
    border-top-left-radius: var(--topleft-border-radius);
    background: var(--background-2);
}

.chat-2ZfjoI {
    background: var(--background-1);
}

.members-3WRCEx {
    background: var(--background-2);
}

.chatContent-3KubbW {
    border-top-left-radius: var(--topleft-border-radius);
    background: var(--bg-typebox);
}

.form-3gdLxP {
    margin-top: 5.5px !important;
    background: transparent;
}

.bodyInnerWrapper-2bQs1k {
  background-color: #0d0d0d;
}

.footer-3naVBw {
  background-color: #0d0d0d;
}

.inner-NQg18Y {
  background: rgb(41, 41, 41);
}

.scrollableContainer-15eg7h {
  background: rgb(41, 41, 41);
}

.section-3G9aLW:only-child {
  background: #212121;
}

.members-3WRCEx, .members-3WRCEx>div {
  background: transparent;
}

.layout-1qmrhw {
  border-radius: 8px;
}

.winButtonClose-3Q8ZH5 {
  width: 50px;
  margin-right: 6px;
  border-right: 1px solid #6e6e6e;
  border-bottom: 1px solid #6e6e6e;
  border-left: 1px solid #6e6e6e;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top: transparent;
}

.winButtonClose-3Q8ZH5:hover {
  background: linear-gradient(270deg, #830000, #ff0000);
  background-size: 400% 400%;
  -webkit-animation: pulse 1s ease infinite;
  -moz-animation: pulse 1s ease infinite;
  animation: pulse 1s ease infinite;
  border: 1px solid #ff0000;
  border-top: transparent;
}

.winButtonMinMax-3RsPUg {
  right: 0.4%;
}

@-webkit-keyframes pulse {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes pulse {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes pulse {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.input-2g-os5 { 
  border-radius: 13px;
}

.standardSidebarView-E9Pc3j {
  background: var(--background-2);
}

.sidebarRegion-1VBisG, .sidebarRegionScroller-FXiQOh {
  background: transparent;
}

.bd-settings-title {
  font-weight: 500;
}

.emptyCard-KDifrB {
  border-radius: 12px;
  background: var(--bg-card);
}

.contentRegion-3HkfJJ {
  background: var(--background-2);
}

.noticeWrapper-8z511t {
  background: var(--background-1);
  top: 1px;
}

.contentRegionScroller-2_GT_N {
  background: transparent !important;
}

.wrapper-2vIMkT {
  background: var(--background-2) !important;
}

.bd-addon-header {
  background: rgb(41, 41, 41) !important;
  border-bottom: 1px solid rgb(68, 68, 68);
  border-radius: 12px 12px 0 0;
}

.bd-description-wrap {
  background: rgb(41, 41, 41) !important;
}

.bd-footer {
  background: rgb(41, 41, 41) !important;
  border-radius: 0 0 12px 12px;
}

.bd-addon-list .bd-addon-card {
  background: transparent;
}

.users-2JoyGL {
  background: var(--bg-usercount);
}

.auto-2K3UW5::-webkit-scrollbar-thumb {
  background-color: #4d4d4d !important;
}

.auto-2K3UW5::-webkit-scrollbar-track {
  background: #333333 !important;
}

.header-3OsQeK {
  border-radius: 9px 9px 9px 9px;
}

.header-3OsQeK:hover {
  border-radius: 9px 9px 9px 9px;
  background: var(--btn-hovered) !important;
}

.iconBackgroundTierNone-3M21Zn, .iconBackgroundTierOne-1S68CI, .iconBackgroundTierThree-2hfNBO, .iconBackgroundTierTwo-2XoNXD {
  color: #333333;
}

.container-2RRFHK {
  background: linear-gradient(to top right, var(--background-1), var(--color-scheme), var(--background-1));
  -webkit-animation: loading 7s ease infinite;
  -moz-animation: loading 7s ease infinite;
  animation: loading 7s ease infinite;
	background-size: 400% 400%;
}

@-webkit-keyframes loading {
  0%{background-position:0% 94%}
  50%{background-position:100% 7%}
  100%{background-position:0% 94%}
}
@-moz-keyframes loading {
  0%{background-position:0% 94%}
  50%{background-position:100% 7%}
  100%{background-position:0% 94%}
}
@keyframes loading {
  0%{background-position:0% 94%}
  50%{background-position:100% 7%}
  100%{background-position:0% 94%}
}

.theme-dark.authBox-1HR6Ha {
    background: var(--background-1);
    border-radius: 2vh;
}

.characterBackground-1BPOOJ .artwork-L5TAwQ {
    display: none;
}

.input-2g-os5 {
    background: var(--bg-typebox);
}

.inputField-2RZxdl {
    background: var(--bg-typebox);
}

.theme-dark .contentWrapper-3oy4Xo {
    background: var(--background-1);
    border-radius: 20px;
    box-shadow: 0 0 10px #000000, 0 0 40px #000000, 0 0 80px #000000;
}

.theme-dark .root-g14mjS {
    border-radius: 20px;
}

.scroller-1bVxF5 {
    background: #0d0d0d;
    box-shadow: 0 0 10px #000000, 0 0 40px #000000, 0 0 80px #000000;
    border-radius: 14px;
}

.menu-1QACrS {
    border-radius: 14px;
    background: none !important;
}

.userPopout-2j1gM4 .avatarWrapper-eenWra .avatar-2Vndt_ {
    left: 10%;
}

.accountProfileCard-lbN7n- {
    background-color: var(--background-1);
    border-radius: 15px;
}

.avatar-3mTjvZ {
    border: 7px solid var(--background-1);
    background-color: var(--background-1);
}

/*Buttons*/

.actionButton-3-B2x- {
    background-color: transparent;
}

.button-3bklZh:hover {
  background: var(--bg-hover);
}

.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
  background: var(--btn-selected) !important;
}

.side-2ur1Qk .item-3XjbnG:hover {
  background: var(--btn-hovered) !important;
}

.modeSelected-3DmyhH .content-1gYQeQ, .modeSelected-3DmyhH:hover .content-1gYQeQ {
  background: var(--btn-selected) !important;
}

.content-1gYQeQ:hover {
  background: var(--btn-hovered) !important;
}

.interactiveSelected-29CP8y {
  background: var(--btn-selected) !important;
}

.interactive-iyXY_x:hover {
  background: var(--btn-hovered) !important;
}

/*Attachments*/

.attachment-1PZZB2 {
  border-radius: var(--attachment-radius);
  background: var(--attachment-bg-file);
}

.textContainer-36wgKK {
  border-top-left-radius: var(--attachment-radius);
  border-top-right-radius: var(--attachment-radius);
  background: var(--attachment-bg-code);
}

.footer-GXWBBp, .toggleExpandSection-1710zV {
  border-bottom-left-radius: var(--attachment-radius);
  border-bottom-right-radius: var(--attachment-radius);
}

.formattedSize-1YbZww {
  color: rgb(255, 255, 255);
}

.imageWrapper-oMkQl4, .imageZoom-3yLCXY, .clickable-LksVCf, .embedWrapper-1MtIDg {
  border-radius: 9px !important;
}

/*Color-scheming (If that's an existing word)*/

.platform-win .bg-1QIAus {
  background: var(--background-1);
}

.scroller-3X7KbA {
  background: var(--background-1);
  color: #000000;
}

.wordmarkWindows-2dq6rw path {
  d: path("M3.57642276,0.141304348 L0,0.141304348 L0,4.22826087 L2.38069106,6.40217391 L2.38069106,2.43478261 L3.66260163,2.43478261 C4.47052846,2.43478261 4.86910569,2.83695652 4.86910569,3.4673913 L4.86910569,6.5 C4.86910569,7.13043478 4.49207317,7.55434783 3.66260163,7.55434783 L0,7.55434783 L0,9.85869565 L3.57642276,9.85869565 C5.49390244,9.86956522 7.29288618,8.90217391 7.29288618,6.66304348 L7.29288618,3.39130435 C7.29288618,1.13043478 5.49390244,0.141304348 3.57642276,0.141304348 Z M22.3310976,6.67391304 L22.3310976,3.32608696 C22.3310976,2.11956522 24.4640244,1.83695652 25.1103659,3.05434783 L27.0817073,2.23913043 C26.3168699,0.510869565 24.8949187,0 23.7207317,0 C21.803252,0 19.9073171,1.13043478 19.9073171,3.32608696 L19.9073171,6.67391304 C19.9073171,8.88043478 21.803252,10 23.6776423,10 C24.8841463,10 26.3276423,9.39130435 27.1247967,7.81521739 L25.0134146,6.82608696 C24.4963415,8.17391304 22.3310976,7.84782609 22.3310976,6.67391304 Z M15.8030488,3.7826087 C15.0597561,3.61956522 14.5642276,3.34782609 14.5319106,2.88043478 C14.575,1.75 16.2878049,1.7173913 17.2896341,2.79347826 L18.8731707,1.55434783 C17.8821138,0.326086957 16.7617886,0 15.598374,0 C13.8424797,0 12.1404472,1 12.1404472,2.91304348 C12.1404472,4.77173913 13.5408537,5.76086957 15.0813008,6 C15.8676829,6.10869565 16.7402439,6.42391304 16.7186992,6.97826087 C16.654065,8.02173913 14.5426829,7.9673913 13.5839431,6.7826087 L12.0650407,8.23913043 C12.9591463,9.40217391 14.1764228,10 15.3182927,10 C17.074187,10 19.0239837,8.9673913 19.0993902,7.08695652 C19.2071138,4.69565217 17.5050813,4.09782609 15.8030488,3.7826087 Z M8.59634146,9.85869565 L11.0093496,9.85869565 L11.0093496,0.141304348 L8.59634146,0.141304348 L8.59634146,9.85869565 Z M49.2835366,0.141304348 L45.7071138,0.141304348 L45.7071138,4.22826087 L48.0878049,6.40217391 L48.0878049,2.43478261 L49.3589431,2.43478261 C50.1668699,2.43478261 50.5654472,2.83695652 50.5654472,3.4673913 L50.5654472,6.5 C50.5654472,7.13043478 50.1884146,7.55434783 49.3589431,7.55434783 L45.6963415,7.55434783 L45.6963415,9.85869565 L49.2727642,9.85869565 C51.1902439,9.86956522 52.9892276,8.90217391 52.9892276,6.66304348 L52.9892276,3.39130435 C53,1.13043478 51.2010163,0.141304348 49.2835366,0.141304348 Z M31.7353659,0 C29.753252,0 27.7819106,1.09782609 27.7819106,3.33695652 L27.7819106,6.66304348 C27.7819106,8.89130435 29.7640244,10 31.7569106,10 C33.7390244,10 35.7103659,8.89130435 35.7103659,6.66304348 L35.7103659,3.33695652 C35.7103659,1.10869565 33.7174797,0 31.7353659,0 Z M33.2865854,6.66304348 C33.2865854,7.35869565 32.5109756,7.7173913 31.7461382,7.7173913 C30.9705285,7.7173913 30.1949187,7.36956522 30.1949187,6.66304348 L30.1949187,3.33695652 C30.1949187,2.61956522 30.9489837,2.23913043 31.7030488,2.23913043 C32.4894309,2.23913043 33.2865854,2.58695652 33.2865854,3.33695652 L33.2865854,6.66304348 Z M44.3605691,3.33695652 C44.3067073,1.05434783 42.7770325,0.141304348 40.8056911,0.141304348 L36.9815041,0.141304348 L36.9815041,9.86956522 L39.4268293,9.86956522 L39.4268293,6.77173913 L39.8577236,6.77173913 L42.0768293,9.85869565 L45.0930894,9.85869565 L42.4861789,6.52173913 C43.6495935,6.15217391 44.3605691,5.14130435 44.3605691,3.33695652 Z M40.8487805,4.65217391 L39.4268293,4.65217391 L39.4268293,2.43478261 L40.8487805,2.43478261 C42.3784553,2.43478261 42.3784553,4.65217391 40.8487805,4.65217391 Z");
}

.wordmarkWindows-2dq6rw path:not(:first-child) {
  display: none;
}

.wordmarkWindows-2dq6rw g {
  transform: translateY(3px);
  color: var(--color-scheme);
}

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
  background: var(--color-scheme);
}